.container-store {
  box-sizing: border-box;
  background-color: #e24647;
  width: 90%;
  max-width: 1330px;
  padding: 55px 0px 165px 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 1470px), (max-height: 946px) {
  .container-store {
    position: static;
    transform: none;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1310px) {
  .container-store {
    padding-right: 0;
  }
}

@media (max-height: 946px) {
  .container-store {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
  }
}
