header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 60px 60px 95px;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 40px;
  float: left;
}

nav{
  font-size: 21px;
  font-family: "Segoe UI", sans-serif;
  float: right;
}

a {
  color: inherit;
  text-decoration: none;
}
